{{define "base"}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{template "title" .}} - groupics</title>
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <header>
            <h1><a href="/">groupics</a></h1>
        </header>
        <nav>
            <div>
                <a href="/">Home</a>
                {{if .IsAuthenticated}}<a href="/create">Create</a>{{end}}
            </div>
            <div>
            {{if .IsAuthenticated}}
                <form action="/logout" method="post"><input type="hidden" name="csrf_token" value="{{.CSRFToken}}"><button>Logout</button></form>
            {{else}}
                <a href="/signup">Signup</a>
                <a href="/login">Login</a>
            {{end}}
            </div>
        </nav>
        <main>
            {{with .Flash}}<div class="flash">{{.}}</div>{{end}}
            {{template "main" .}}
        </main>
        {{template "footer" .}}
        <script src="/static/js/main.js"></script>
    </body>
</html>
{{end}}